.listitem-component {
  margin: 5px;
  background-color: #e8ecf9;
  border: 1px solid lightgreen;
  text-align: center
}

.vertical-center {
  /*
  display: flex;
  align-items: center;
  */
  display: inline-block;
  vertical-align: middle;
  line-height: 300%
}

.itemhead{
  font-size: 15px;
  color: #5274b7;
  margin: 2px
}
.itembody{
  font-size: 18px;
  margin: 2px
}
.itembody > #taskhead{
  font-size: 12px;
  font-weight: 300;
  color: #5274b7
}
.itembtn{
  margin: 10px
}